<div class="main">
    <form [formGroup]="ForgetpasswordForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <div>
                <h1 class="heading">
                    <span style="color:dodgerblue;">F</span>
                    <span style="color:red;">u</span>
                    <span style="color:yellow;">n</span>
                    <span style="color:green;">d</span>
                    <span style="color:red">o</span>
                    <span style="color:red">o</span>
                </h1>
            </div>
            <div style="width: 100%">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Enter Email" formControlName="email" />
                    <mat-error>Enter valid Email</mat-error>
                </mat-form-field>
            </div>
            <div class="button-row">
                <div routerLink="/resetpassword">Reset Password</div>
                <button mat-flat-button class="button">Next</button>
            </div>
        </div>
    </form>
</div>