.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
    width: 500px;
    height: 550px;
    border-radius: 10px;
    padding: 50px;
}
.main{
    display: flex;
    justify-content: center;
}
.button{
    color: white;
    background-color: #0842a0;
    border-radius: 5px;
    height: 40px;
    width: 80px;
}
.button-row {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap:300px;
  }
.heading{
    margin-bottom: 90%;
    font-size: 50px
}