.main{
    border: 1px solid lightgrey;
    width: 600px;
    padding: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    margin-left: 30%;
}
.title{
    width: 300px;
    height: 30px;
    border: none;
}
.icon{
    border: none;
    border-radius: 50%;
    padding: 10px;
    background-color: white;
  }
.innerup{
    border: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 30px;
}
.innerbelow{
    border: none;
    padding: 10px;
}
.description{
    width: 300px;
    height: 30px;
    border: none;
}
.bottomicons{
    display: flex;
}
.close{
    margin-left: 35%;
    border: none;
    background-color: white;
    margin-top: 12%;
}
.push_pin{
    border: none;
    border-radius: 50%;
    margin-left: 40%;
    background-color: white;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 18
  }
  .icon{
    border: none;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    width: 40px;
    margin-top: 12%;
  }
  .icon-top{
    border: none;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    width: 40px;
  }

// .container{
//     margin-top: 2%;
//     margin-bottom: 4%;
//     display: flex;
//     width: 50%;
//     justify-content: center;
//     align-items: center;
//     margin-left: 30%;
// }
 
// .inner-container{
//     width: 100%;
// }
 
// .header{
//     width: 100%;
//     display: flex;
//     justify-content: space-around;
//     align-items: stretch;
//     flex-direction: row;
// }
 
// .icons{
//     width: 30% ;
//     display: flex;
//     text-align: right;
//     justify-content: space-around ;
//     align-items: center;
// }
 
// .title{
//     width: 60%;
// }
 
// .desc{
//     display: flex;
//     justify-content: space-around;
// }