.bottomicons{
    display: flex;
    margin-top: 30%;
}
.icon{
    border: none;
    border-radius: 50%;
    padding: 10px;
    background-color: white;
    width: 40px;
  }

  mat-icon{
      font-size: 18px;
  }