<div class="main">
    <form [formGroup]="ResetpasswordForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <div>
                <h1 class="heading">
                    <span style="color:dodgerblue;">F</span>
                    <span style="color:red;">u</span>
                    <span style="color:yellow;">n</span>
                    <span style="color:green;">d</span>
                    <span style="color:red">o</span>
                    <span style="color:red">o</span>
                </h1>
            </div>
            <!-- <div style="width: 100%">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email" />
                    <mat-error>Enter valid Email</mat-error>
                </mat-form-field>
            </div>
            <div style="width: 100%">
                <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>Old Password</mat-label>
                    <input matInput type="password" placeholder="Old Password" formControlName="oldpassword" />
                    <mat-error>Enter old Password</mat-error>
                </mat-form-field>
            </div> -->
            <div style="width: 100%;">
                    <div>
                        <mat-form-field appearance="outline" class="name">
                            <mat-label>New Password</mat-label>
                            <input matInput type="password" placeholder="New Password" formControlName="NewPassword" />
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline" class="name">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput type="password" placeholder="Confirm Password"
                                formControlName="ConfirmPassword" />
                        </mat-form-field>
                    </div>
                </div>
            <div>
                <button mat-flat-button class="button">Submit</button>
            </div>
        </div>
    </form>
</div>