<div>
    <div>
        <input type="text" placeholder="title" [(ngModel)]="title" class="title">
        <button mat-icon-button class="push_pin">
            <mat-icon> push_pin</mat-icon>
        </button>
    </div>
    <div>
        <textarea type="text" placeholder="description" [(ngModel)]="description" class="description"></textarea>
    </div>
    <div class="bottomicons">
        <app-icons></app-icons>
        <!-- <button mat-icon-button class="icon">
            <mat-icon>undo</mat-icon>
        </button>
        <button mat-icon-button class="icon">
            <mat-icon>redo</mat-icon>
        </button> -->
        <button mat-button class="close" (click)="UpdateNote()">Close</button>
    </div>
</div>
